<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<div class="container">

    <form action="" method="post">

        {% csrf_token %}

        <h3>Add New Book</h3>

        <label for="">Book Name</label>
        {{form.book_name}}

        <label for="">Author</label>
        {{form.author_name}}

        <label for="">Price</label>

        {{form.price}}

        <button type="submit">Add</button>
        
    </form>
</div>
</body>
</html>